.card{
    width: 270px;
    height: 235px;
    margin: 15px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.Dishes{
    display: flex;
    flex-wrap: wrap;
}